<header class="bg-light">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-md">
            <a routerLink="/" class="navbar-brand">
                <img ngSrc="logo.png" alt="{{ 'tripr' | transloco }}" width="30" height="30" class="d-inline-block align-top" />
                <span class="ps-1">{{ 'app-title' | transloco }}</span>
            </a>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                    [attr.aria-label]="'toggle-navigation' | transloco" aria-controls="navbarToggle" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <ul class="navbar-nav ms-auto">
                    <li class="navbar-item">
                        <a routerLink="/" class="nav-link">{{ 'navigation-home' | transloco }}</a>
                    </li>
                    <li class="navbar-item">
                        @if (authenticationService.isLoggedIn()) {
                        <button type="button" (click)="authenticationService.logout()" class="nav-link">{{ 'navigation-logout' | transloco }}</button>
                        } @else {
                        <a routerLink="/login" class="nav-link">{{ 'navigation-login' | transloco }}</a>
                        }
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
