<h1 class="mb-4">{{ 'authentication-login-headline' | transloco }}</h1>
<form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="loginForm" field="email" rowType="email" label="{{ 'email' | transloco }}" />
    <app-input-row [group]="loginForm" field="password" rowType="password" label="{{ 'password' | transloco }}" />
    <app-input-row [group]="loginForm" field="rememberMe" rowType="checkbox" label="{{ 'remember-me' | transloco }}" />
    <input type="submit" value="{{ 'login' | transloco }}" class="btn btn-primary mt-4" />
</form>
<p class="mt-5">
    <span>{{ 'authentication-register-now-text' | transloco }}</span>
    <a routerLink="/register">{{ 'authentication-register-now-link' | transloco }}</a>
</p>
<p>
    <span>{{ 'authentication-reset-passwort-text' | transloco }}</span>
    <a routerLink="/password{{ 'authentication-reset-passwort-link' | transloco }}/start">Reset</a>
</p>
